// Variables CSS
$primary: #C7CFD9;
$secondary: #DFE9F2;
$light: #FFFFFF;
$dark: #1C1C1C;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "light": $light,
  "dark": $dark,
);

$font-family-sans-serif: 'Poppins', sans-serif;

$body-color: #6F6F6F;

$headings-color: $dark;

$border-color: $secondary;

$input-border-color: $secondary;

$enable-responsive-font-sizes: true;

$enable-rounded: false;

$btn-focus-box-shadow: none;

$btn-active-box-shadow: none;

$input-btn-focus-box-shadow: none;

$input-placeholder-color: #999999;

:root {
  --border-radius-size: 10px;

  --header-height: 4rem;

  /*  Fonts (numbers convention is the same as font weight numbering convention) */
  /* Main font size */
  --fs-300: 0.8rem;
  --fs-400: 1rem;
  --fs-500: 1.125rem;
  --fs-600: 1.5rem;
  --fs-lg: 2rem;
}

/* For larger screens */
@media (min-width: 1024px) {
  :root {
    --fs-300: 1rem;
    --fs-400: 1.125rem;
    --fs-500: 1.2rem;
    --fs-600: 2rem;
    --fs-lg: 3rem;
  }
}
